<div class="card" (mouseenter)="showDescription = true" (mouseleave)="showDescription = false">
    <div class="background">
        <img [src]="card.imageUrl" [alt]="card.city">
    </div>
    <div class="content">
        <p class="country">
            {{ card.country | uppercase }}
        </p>
        <h2>
            <strong>{{ card.city | uppercase }}</strong>
        </h2>
        <p *ngIf="showDescription" class="description">
            {{ card.description }}
        </p>
        <p id="view" *ngIf="showDescription">
            <button (click)="onViewCard(card.city)"><strong>Explore More</strong></button>
        </p>
    </div>
</div>
