@font-face {
    font-family: "roboto";
    src: url("../assets/font/Roboto-Regular.ttf")
}

app-header {
    margin: 0 0 15px 0;
    padding: 0;
}

app-home {
    margin: 15px 0 0 0 ;
    padding: 0;
}